@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_BrokerLayout.cshtml";
}

<script>
    // Redirect to analytics by default
    window.location.href = '/broker/dashboard/analytics';
</script>

<p>Redirecting to Analytics...</p>
